#index-button {
  padding-left: 20px;
}

h1 {
  margin-left: 20px;

}

#search {
  margin left: 20px;
  padding-left:20px;
  margin-right: 5px;
}

.search-btn {
  margin-left: 5px;
  padding: -2px;
}

#contact-list {
  margin-left: 20px;
}
.table {
  max-width: 500px;
  padding-left: 20px;
}

.create-form {
  display: none;
}

#create-button {
  padding: 20px;
}